# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed

# misc / editors
*~
*#
*.iml
.DS_STORE


# node-waf configuration
.lock-wscript

dist/
lib/
target/

# Compiled binary addons (http://nodejs.org/api/addons.html)
build/Release

# Dependency directory
node_modules
